{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h2 class="mb-3">Add Expense</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container mt-3">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <!-- Expense Form -->
    <form method="POST">
        <div class="mb-3">
            <label for="project_id" class="form-label">Project</label>
            <select style="font-weight: bold;" name="project_id" class="form-control" required>
                <option value="{{ project.project_id }}" selected>{{ project.name }} (ID: {{project.project_id}})
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" name="amount" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input type="text" name="category" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" class="form-control" required></textarea>
        </div>

        <button type="submit" class="btn btn-success">Submit Expense</button>
    </form>
</div>

{% endblock %}