{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">All Employees</h2>
    <div class="table-responsive">
        <table class="table table-bordered mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr onclick="window.location.href=' /profile/{{ employee.user_id }}'" style="cursor: pointer;">
                    <td>{{ employee.user_id }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.role }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}